<div class="col-12 col-md-6 col-lg-4 mb-10">
  <div class="mb-4">
    <%= link_to service_path(service.id) do %>
      <!-- img -->
      <div class="img-zoom">
        <% if service.cover_image.attached? %>
          <%= image_tag url_for(service.cover_image), alt: service.title, class: "icon-shape w-100 fixed-dimension-img" %>
        <% else %>
          <div class="fixed-dimension-img placeholder"></div>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- text -->
  <div>
    <h2 class="h5">
      <%= link_to service.title.humanize, service_path(service), class: "text-inherit" %>
    </h2>
    <p>
      <%= truncate(strip_tags(service.content), length: 100) %>
    </p>
    <div class="d-flex justify-content-between text-muted mt-4">
      <span><small><%= service.created_at.strftime('%d %B %Y') %></small></span>
      <span>
        <small>
          Read time:
          <span class="text-dark fw-bold">12min</span>
        </small>
     </span>
    </div>
  </div>
</div>

