<div class="container">
  <%= render partial: "/admin/shared/breadcrum" %>
  <!-- row -->
  <div class="row">
    <div class="col-xl-12 col-12 mb-5">
      <!-- card -->
      <div class="card h-100 card-lg">
        <!-- card body -->
        <div class="card-body p-0">
          <!-- table -->
          <div class="table-responsive">
            <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
              <thead class="bg-light">
              <tr>
                <th>Cover Image</th>
                <th>Title</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @services.each do |service| %>
                <tr>
                  <td>
                    <%= image_tag url_for(service.cover_image), alt: service.title, class: "icon-shape icon-md" if service.cover_image.attached? %>
                  </td>
                  <td><a href="#" class="text-reset"><%= service.title %></a></td>
                  <td><span class="badge <%= service.status == 'approved' || service.status == 'published' ? 'bg-success' : service.status == 'rejected' ? 'bg-danger' : 'bg-warning' %> text-light-primary"><%= service.status.titleize %></span></td>
                  <td>
                    <%= link_to edit_admin_service_path(service), class: "btn btn-primary" do %>
                      Edit
                    <% end %>
                    <%= link_to admin_service_path(service), class: "btn btn-primary" do %>
                      Show
                    <% end %>
                    <%= link_to 'Delete', admin_service_path(service), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this service?' }, class: 'btn btn-danger' %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <%= paginate @services %>
      </div>
    </div>
  </div>
</div>
