<main class="main-content-wrapper">
  <div class="container">
    <div class="content custom-content">
      <div class="row d-flex">
        <section>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right-flex">
                <%= link_to 'Back', admin_services_path, class: 'btn btn-primary px-4 py-2 fnt-12 m-b-20 docs-creator' %>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="cv-view-header">
                    <div class="left d-flex align-items-center justify-content-start">
                      <h3><%= @service.title %></h3>
                    </div>
                  </div>
                  <table class="table table-hover mb-0">
                    <tbody>
                      <tr>
                        <td class="title">Status</td>
                        <td class="detail"><%= @service.status.humanize %></td>
                      </tr>
                      <tr>
                        <td class="title">Cover Image</td>
                        <td class="detail"><%= image_tag url_for(@service.cover_image), alt: @service.title, class: "icon-shape icon-md" if @service.cover_image.attached? %></td>
                      </tr>
                      <tr>
                        <td class="title">Content</td>
                        <td colspan="12" class="detail"><%= @service.content.html_safe %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
