
<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
  <div class="navbar-vertical">
    <div class="px-4 py-5 d-flex justify-content-between align-items-center">
      <a href="<%= root_path %>" class="navbar-brand">
        <img src="<%= asset_path('logo-large.png') %>" alt="" />
      </a>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="<%= dashboard_path %>">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-house"></i></span>
              <span>Dashboard</span>
            </div>
          </a>
        </li>
        <li class="nav-item mt-6 mb-3">
          <span class="nav-label">Store Managements</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= dashboard_path %>">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-cart"></i></span>
              <span class="nav-link-text">Products</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= dashboard_categories_path %>">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
              <span class="nav-link-text">Categories</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
