<nav class="navbar-vertical-nav d-none d-xl-block">
  <div class="navbar-vertical">
    <div class="px-4 py-5">
      <a href="<%= root_path %>" class="navbar-brand">
        <img src="<%= asset_path('logo-large.png') %>" alt="" />
      </a>
    </div>
    <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
      <ul class="navbar-nav flex-column" id="sideNavbar">
        <li class="nav-item">
          <%= link_to dashboard_path, class: "nav-link #{active_tab('dashboard')}" do %>
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-house"></i></span>
              <span class="nav-link-text">Dashboard</span>
            </div>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to dashboard_paid_ads_path, class: "nav-link #{active_tab('paid_ads')}" do %>
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
              <span class="nav-link-text">Paid Ads</span>
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to dashboard_products_path(type: 'all'), class: "nav-link #{active_tab('products')}" do %>
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
              <span class="nav-link-text">My Ads</span>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>