<nav class="navbar-vertical-nav d-none d-xl-block">
  <div class="navbar-vertical">
    <div class="px-4 py-5">
      <a href="<%= root_path %>" class="navbar-brand">
        <img src="/assets/theme/logo/freshcart-logo.svg" alt="" />
      </a>
    </div>
    <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
      <ul class="navbar-nav flex-column" id="sideNavbar">
        <li class="nav-item">
          <%= link_to dashboard_path, class: "nav-link #{active_tab('dashboard')}" do %>
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-house"></i></span>
              <span class="nav-link-text">Dashboard</span>
            </div>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to dashboard_paid_ads_path, class: "nav-link #{active_tab('paid_ads')}" do %>
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
              <span class="nav-link-text">Paid Ads</span>
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= "collapse active" if active_tab('products').present? %> " href="#" data-bs-toggle="collapse" data-bs-target="#navCategoriesOrders" aria-expanded="false" aria-controls="navCategoriesOrders">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-bag"></i></span>
              <span class="nav-link-text">My Ads</span>
            </div>
          </a>
          <div id="navCategoriesOrders" class="collapse" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to dashboard_products_path, class: "nav-link  #{active_tab_with_tabs('products', '')}" do %>
                  <span class="nav-link-text">All Adds</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to dashboard_products_path(type: 'draft'), class: "nav-link #{active_tab_with_tabs("products", 'draft')}" do %>
                  <span class="nav-link-text">Draft</span>
                <% end %>
              </li>
              <!-- Nav item -->
              <li class="nav-item">
                <%= link_to dashboard_products_path(type: 'pending'), class: "nav-link" do %>
                  <span class="nav-link-text">Pending</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to dashboard_products_path(type: 'rejected'), class: "nav-link" do %>
                  <span class="nav-link-text">Rejected</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to dashboard_products_path(type: 'approved'), class: "nav-link" do %>
                  <span class="nav-link-text">Approved</span>
                <% end %>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#!">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-gear"></i></span>
              <span class="nav-link-text">Store Settings</span>
            </div>
          </a>
        </li>

        <li class="nav-item mt-6 mb-3">
          <span class="nav-label">Support</span>
          <span class="badge bg-light-info text-dark-info">Coming Soon</span>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#!">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-headphones"></i></span>
              <span class="nav-link-text">Support Ticket</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>