<main class="main-content-wrapper">
  <div class="container">
<%= render partial: "/dashboard/shared/breadcrum" %>

    <div class="row">
      <div class="col-lg-10 col-12">
        <div class="card mb-10 card-lg">
          <div class="card-body p-6">
            <h4 class="mb-4 h5">Paid Ad Details</h4>
            <%= form_with(model: [:dashboard, paid_ad]) do |form| %>
              <% if paid_ad.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(paid_ad.errors.count, "error") %> prohibited this paid ad from being saved:</h2>
                  <ul>
                    <% paid_ad.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="row">
                <div class="mb-3 col-lg-6">
                  <%= form.label :quantity, class: "form-label" %>
                  <%= form.number_field :quantity, class: "form-control" %>
                </div>
              </div>
              <div class="mb-3 col-lg-6">
                <%= form.label :ad_type, class: "form-label" %>
                <%= form.select :ad_type, PaidAd.ad_types.keys.map { |type| [type.humanize, type] }, { include_blank: "Select Add type" }, class: "form-select" %>
              </div>

              <div class="mb-3 col-lg-6">
                <%= form.label :payment_method, class: "form-label" %>
                <%= form.select :payment_method, PaidAd.payment_methods.keys.map { |method| [method.humanize, method] }, { include_blank: "Select Payment method" }, class: "form-select", required: true %>
              </div>

              <div class="mb-3">
                <%= form.submit class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
