<div class="container">
  <%= render partial: "/dashboard/shared/breadcrum" %>
  <!-- row -->
  <div class="row">
    <div class="col-xl-12 col-12 mb-5">
      <!-- card -->
      <div class="card h-100 card-lg">
        <div class="px-6 py-6">
          <div class="row justify-content-between">
            <!-- form -->
            <div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
              <form class="d-flex" role="search">
                <input class="form-control" type="search" placeholder="Search Ads" aria-label="Search" />
              </form>
            </div>
          </div>
        </div>
        <!-- card body -->
        <div class="card-body p-0">
          <!-- table -->
          <div class="table-responsive">
            <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
              <thead class="bg-light">
              <tr>
                <th>id</th>
                <th>User</th>
                <th>Quantity</th>
                <th>Ad Type</th>
                <th>Payment Method</th>
                <th>Total Amount</th>
                <th>Status</th>
                <th>Proof Image</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @paid_ads.each do |ad| %>
                <tr>
                  <td>
                    <%= link_to ad.id, dashboard_paid_ad_path(ad) %>
                  </td>
                  <td><a href="#" class="text-reset"><%= ad.user&.name %></a></td>
                  <td><%= ad.quantity %></td>
                  <td><%= ad.ad_type&.humanize %></td>
                  <td><%= ad.payment_method&.humanize %></td>
                  <td>Rs. <%= number_with_delimiter(ad.total_amount) %></td>
                  <td>
                    <span class="badge <%= ad.status == 'pending' ? 'bg-warning' : ad.status == 'approved' ? 'bg-success' : 'bg-danger' %> text-light-primary"><%= ad.status %></span>
                  </td>
                  <td>
                    <%= image_tag ad.proof_image, width: "150px", height: "150px", class: "img-fluid" if ad.proof_image.attached? %>
                  </td>
                  <td>
                    <% if ad.status == 'pending' %>
                      <div class="d-flex gap-2">
                        <%= link_to edit_dashboard_paid_ad_path(ad), class: 'btn btn-primary', title: 'Edit' do %>
                        Edit
                        <% end %>
                        <%= link_to dashboard_paid_ad_path(ad), data: { turbo_confirm: "Are you sure you want to delete this advertisement?" }, data: { turbo_method: :delete }, class: 'btn btn-danger', title: 'Delete' do %>
                          Destroy
                        <% end %>
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <%= paginate @paid_ads %>
      </div>
    </div>
  </div>
</div>
