<div class="container">
  <%= render partial: "/dashboard/shared/breadcrum" %>
  <!-- row -->
  <div class="row">
    <div class="col-xl-12 col-12 mb-5">
      <!-- card -->
      <div class="card h-100 card-lg">
        <div class="px-6 py-6">
          <div class="row justify-content-between">
            <!-- form -->
            <div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
              <form class="d-flex" role="search">
                <input class="form-control" type="search" placeholder="Search Products" aria-label="Search" />
              </form>
            </div>
          </div>
        </div>
        <!-- card body -->
        <div class="card-body p-0">
          <!-- table -->
          <div class="table-responsive">
            <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
              <thead class="bg-light">
              <tr>
                <th>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="checkAll" />
                    <label class="form-check-label" for="checkAll"></label>
                  </div>
                </th>
                <th>id</th>
                <th>User</th>
                <th>Quantity</th>
                <th>Ad Type</th>
                <th>Payment Method</th>
                <th>Status</th>
                <th>Create at</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% @paid_ads.each do |ad| %>
                <tr>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="productOne" />
                      <label class="form-check-label" for="productOne"></label>
                    </div>
                  </td>
                  <td>
                    <%= link_to ad.id, dashboard_paid_ad_path(ad) %>
                  </td>
                  <td><a href="#" class="text-reset"><%= ad.user&.name %></a></td>
                  <td><%= ad.quantity %></td>
                  <td><%= ad.ad_type&.humanize %></td>
                  <td><%= ad.payment_method&.humanize %></td>
                  <td>
                    <span class="badge bg-light-primary text-dark-primary"><%= ad.status %></span>
                  </td>
                  <td><%= ad.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                  <td>
                    <div class="dropdown">
                      <a href="#" class="text-reset" data-bs-toggle="dropdown" aria-expanded="true">
                        <i class="feather-icon icon-more-vertical fs-5"></i>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="#">
                            <i class="bi bi-trash me-3"></i>
                            Delete
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#">
                            <i class="bi bi-pencil-square me-3"></i>
                            Edit
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <%= paginate @paid_ads %>
      </div>
    </div>
  </div>
</div>
