
<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1" id="offcanvasExample">
  <div class="navbar-vertical">
    <div class="px-4 py-5 d-flex justify-content-between align-items-center">
      <a href="<%= root_path %>" class="navbar-brand">
        <img src="/assets/logo-large.png" alt="" />
      </a>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="<%= admin_path %>">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-house"></i></span>
              <span>Dashboard</span>
            </div>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link <%= active_tab('products').present? ? 'collapse parent-active' : '' %>" href="#" data-bs-toggle="collapse" data-bs-target="#navCategoriesOrders" aria-expanded="false" aria-controls="navCategoriesOrders">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-bag"></i></span>
              <span class="nav-link-text">Ads</span>
            </div>
          </a>
          <div id="navCategoriesOrders" class="collapse  <%= " show" if active_tab('products').present? %>" data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to admin_products_path(type: 'all'), class: "nav-link  #{active_tab_with_tabs('products', 'all')}" do %>
                  <span class="nav-link-text">All Ads</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_products_path(type: 'draft'), class: "nav-link #{active_tab_with_tabs("products", 'draft')}" do %>
                  <span class="nav-link-text">Draft</span>
                <% end %>
              </li>
              <!-- Nav item -->
              <li class="nav-item">
                <%= link_to admin_products_path(type: 'pending'), class: "nav-link #{active_tab_with_tabs("products", 'pending')}" do %>
                  <span class="nav-link-text">Pending</span>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to admin_products_path(type: 'approved'), class: "nav-link #{active_tab_with_tabs("products", 'approved')}" do %>
                  <span class="nav-link-text">Approved</span>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to admin_products_path(type: 'rejected'), class: "nav-link #{active_tab_with_tabs("products", 'rejected')}" do %>
                  <span class="nav-link-text">Rejected</span>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_categories_path %>">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
              <span class="nav-link-text">Categories</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_services_path %>">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
              <span class="nav-link-text">Services</span>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_blogs_path %>">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="bi bi-list-task"></i></span>
              <span class="nav-link-text">Blogs</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
