<main>
  <!-- section -->
  <section class="my-lg-14 my-8">
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2">
          <!-- img -->
          <img src="/assets/theme/svg-graphics/signin-g.svg" alt="" class="img-fluid" />
        </div>
        <!-- col -->
        <div class="col-12 col-md-6 offset-lg-1 col-lg-4 order-lg-2 order-1">
          <div class="mb-lg-9 mb-5">
            <h1 class="mb-1 h2 fw-bold">Change your password</h1>
          </div>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "needs-validation", novalidate: true }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :reset_password_token %>
            <div class="row g-3">
              <!-- row -->
              <div class="col-12">
                <!-- input -->
                <%= f.label :password, "New password", class: "form-label visually-hidden" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                <% end %>
                <%= f.password_field :password, autofocus: true, placeholder: "Password", required: true, autocomplete: "new-password", class: "form-control" %>
                <div class="invalid-feedback">Please enter new password.</div>
              </div>
              <div class="col-12">
                <!-- input -->
                <%= f.label :password_confirmation, "Confirm new password", class: "form-label visually-hidden" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                <% end %>
                <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", placeholder: "Confirm password", required: true,  class: "form-control" %>
                <div class="invalid-feedback">Please confirm password.</div>
              </div>
              <!-- btn -->
              <div class="col-12 d-grid"><%= f.submit "Change my password", class: "btn btn-primary" %></div>
              <!-- link -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</main>
