<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Edit this product", edit_my_ad_path(@product) %> |
  <%= link_to "Back to products", my_ads_path %>

  <%= button_to "Destroy this product", my_ad_path, method: :delete %>
</div>
