<div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="chatModalLabel">Live Chat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="chat-messages" data-chat-id="<%= chat&.id %>">
          <% if messages.present? %>
            <%= render messages %>
          <% end %>
        </div>
        <form id="message-form" data-chat-id="<%= chat&.id %>" data-product-id="<%= @product.id %>">
          <div class="input-group">
            <%= text_field_tag :content, nil, placeholder: "Type your message...", class: "form-control" %>
            <div class="input-group-append mx-2">
              <%= button_tag 'Send', type: 'submit', class: "btn btn-primary" %>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
