<h1>Chat with <%= @chat.seller.name %></h1>

<div id="messages">
  <%= render @messages %>
</div>

<%= form_with model: [@chat, @chat.messages.build], local: false, id: 'message_form' do |f| %>
  <div class="form-group">
    <%= f.text_area :content, rows: 3, class: 'form-control' %>
  </div>
  <%= f.submit 'Send', class: 'btn btn-primary' %>
<% end %>


<div id="messages">
  <%= render @messages %>
</div>

<%= form_with model: Message.new, url: messages_path, remote: true, id: 'new_message' do |f| %>
  <%= f.hidden_field :chat_id, value: @chat.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.text_area :content, rows: 3, class: 'form-control' %>
  <%= f.submit 'Send', class: 'btn btn-primary mt-2' %>
<% end %>
