<aside class="col-lg-3 col-md-4 mb-6 mb-md-0">
  <div class="offcanvas offcanvas-start offcanvas-collapse w-md-50" tabindex="-1" id="offcanvasCategory" aria-labelledby="offcanvasCategoryLabel">
    <div class="offcanvas-header d-lg-none">
      <h5 class="offcanvas-title" id="offcanvasCategoryLabel">Filter</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body ps-lg-2 pt-lg-0">
      <div class="mb-8">
      <h3 class="mb-3">Filters</h3>
      <br />
        <%= form_with url: products_path, method: :get, class: "mb-3" do |form|%>
          <div class="mb-3">
            <h6 class="mb-3">Category</h6>
            <div class='d-flex gap-2'>
              <%= form.select :category_id, options_for_select(@categories.map{|category| [category.name&.humanize, category.id]}, [params[:category_id]]), {prompt: "Select Category..."}, {class: "form-select form-control"} %>
            </div>
          </div>
          <div class="mb-3">
            <!-- price -->
            <h6 class="mb-3">Price</h6>
            <div data-controller="products">
              <div class="price-range-container">
                <div class="multi-range">
                  <input type="range" 
                         class="form-range" 
                         min="0" 
                         max="<%= Product.max_price %>" 
                         step="1"
                         value="<%= params[:start_price].presence || 0 %>"
                         data-products-target="minPriceRange"
                         data-action="input->products#updatePrice">
                  <input type="range" 
                         class="form-range" 
                         min="0" 
                         max="<%= Product.max_price %>" 
                         step="1"
                         value="<%= params[:end_price].presence || Product.max_price %>"
                         data-products-target="maxPriceRange"
                         data-action="input->products#updatePrice">
                </div>
                <div class="d-flex justify-content-between mt-2">
                  <span class="price-value" data-products-target="minPriceDisplay">Rs <%= params[:start_price] || 0 %></span>
                  <span class="price-value" data-products-target="maxPriceDisplay">Rs <%= params[:end_price] || Product.max_price %></span>
                </div>
                <%= form.hidden_field :start_price, value: params[:start_price], data: { products_target: "minPriceInput" } %>
                <%= form.hidden_field :end_price, value: params[:end_price], data: { products_target: "maxPriceInput" } %>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <h6 class="mb-3">City</h6>
            <div>
              <%= form.text_field :city, value: params[:city], class: "form-control", placeholder: "City" %>
            </div>
          </div>
          <%= form.submit "Filter", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</aside>