<main class="main-content-wrapper">
  <div class="container">
<%= render partial: "/dashboard/shared/breadcrum" %>

    <div class="row">
      <div class="col-lg-10 col-12">
        <div class="card mb-10 card-lg">
          <div class="card-body p-6">
            <h4 class="mb-4 h5">Product Details</h4>
            <%= form_with(model: [:dashboard, product]) do |form| %>
              <% if product.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
                  <ul>
                    <% product.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="row">
                <div class="mb-3 col-lg-6">
                  <%= form.label :category_id, class: "form-label" %>
                  <%= form.select :category_id, Category.all.map { |category| [category.name.humanize, category.id] }, { include_blank: "Select Category" }, class: "form-select" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :name, class: "form-label" %>
                  <%= form.text_field :name, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :quantity, class: "form-label" %>
                  <%= form.number_field :quantity, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :quantity_unit, class: "form-label" %>
                  <%= form.select :quantity_unit, Product.quantity_units.keys.map { |unit| [unit.humanize, unit] }, { include_blank: "Select Quantity Unit" }, class: "form-select" %>
                </div>
                <div class="mb-12 col-lg-12">
                  <%= form.label :short_description, class: "form-label" %>
                  <%= form.text_field :short_description, class: "form-control" %>
                </div>
                <div class="mb-12 col-lg-12">
                  <%= form.label :long_description, class: "form-label" %>
                  <%= form.text_area :long_description, class: "form-control" %>
                </div>

                <div class="mb-3 col-lg-6">
                  <%= form.label :sex, class: "form-label" %>
                  <%= form.select :sex, Product.sexes.keys.map { |sex| [sex.humanize, sex] }, { include_blank: "Select Sex" }, class: "form-select" %>
                </div>

                <div class="mb-3 col-lg-6">
                  <%= form.label :status, class: "form-label" %>
                  <%= form.select :status, Product.statuses.keys.map { |status| [status.humanize, status] }, { include_blank: "Select Status" }, class: "form-select" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :age_in_years, class: "form-label" %>
                  <%= form.number_field :age_in_years, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :age_in_months, class: "form-label" %>
                  <%= form.number_field :age_in_months, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :price, class: "form-label" %>
                  <%= form.number_field :price, class: "form-control" %>
                </div>

                <div class="mb-3 col-lg-6">
                  <%= form.label :breed, class: "form-label" %>
                  <%= form.text_field :breed, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :height, class: "form-label" %>
                  <%= form.text_field :height, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :wight, class: "form-label" %>
                  <%= form.text_field :wight, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :teeth, class: "form-label" %>
                  <%= form.number_field :teeth, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :castrated, class: "form-label" %>
                  <%= form.check_box :castrated, class: "form-check-input" %>
                </div>

                <div class="mb-3">
                  <h4 class="mb-3 h5">Location</h4>
                </div>
                <div data-controller='geolocation'>
                  <button data-action="geolocation#search">Get Current Location</button>
                  <div class="mb-3 col-lg-6">
                    <%= form.label :city, class: "form-label" %>
                    <%= form.text_field :city, class: "form-control", "data-geolocation-target": "city" %>
                  </div>

                  <div class="mb-3 col-lg-6">
                    <%= form.label :state, class: "form-label" %>
                    <%= form.text_field :state, class: "form-control", "data-geolocation-target": "state" %>
                  </div>

                  <div class="mb-3 col-lg-6">
                    <%= form.label :country, class: "form-label" %>
                    <%= form.text_field :country, class: "form-control", "data-geolocation-target": "country" %>
                  </div>
                  <div class="mb-3 col-lg-12">
                    <%= form.label :address, class: "form-label" %>
                    <%= form.text_area :address, class: "form-control", "data-geolocation-target": "address" %>
                  </div>
                </div>
<!--                <div class="mb-3 col-lg-6">-->
                  <%#= form.label :self_stock, class: "form-label" %>
                  <%#= form.check_box :self_stock, class: "form-check-input" %>
<!--                </div>-->
              </div>

              <div class="mb-3 col-lg-12 mt-5">
                <!-- heading -->
                <h4 class="mb-3 h5">Product Images</h4>

                <!-- input -->
                <div id="my-dropzone" class="dropzone mt-4 border-dashed rounded-2 min-h-100">
                  <%= form.file_field :images, multiple: true, class: "d-none" %>
                  <!-- Add a button for uploading images via Dropzone -->
                  <button type="button" id="uploadImagesBtn" class="btn btn-primary">Upload Images</button>
                </div>
              </div>

              <div class="mb-3">
                <%= form.submit class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
