<div class="container">
<%= render partial: "/dashboard/shared/breadcrum" %>

    <div class="row">
      <div class="col-lg-10 col-12">
        <div class="card mb-10 card-lg">
          <div class="card-body p-6">
            <h4 class="mb-4 h5">Ad Details</h4>
            <%= form_with(model: [:dashboard, product]) do |form| %>
              <% if product.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
                  <ul>
                    <% product.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="row" data-controller="category-form dairy-fields">
                <div class="mb-3 col-lg-6">
                  <%= form.label :parent_id, "Category", class: "form-label" %>
                  <%= form.select :parent_id, Category.where(parent_id: nil).pluck(:name, :id), { include_blank: "Select Category", selected: product.category&.parent_id }, { class: "form-select", data: { category_form_target: "parentCategory" } } %>
                </div>

                <div class="mb-3 col-lg-6">
                  <%= form.label :category_id, "Sub Category", class: "form-label" %>
                  <%= form.select :category_id, product.category&.parent ? Category.where(parent_id: product.category.parent_id).pluck(:name, :id) : [], { include_blank: "Select Sub Category" }, { class: "form-select", data: { category_form_target: "childCategory", dairy_fields_target: "categorySelector" } } %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label "Ad Name", class: "form-label" %>
                  <%= form.text_field :name, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :quantity, class: "form-label" %>
                  <%= form.number_field :quantity, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :quantity_unit, class: "form-label" %>
                  <%= form.select :quantity_unit, Product.quantity_units.keys.map { |unit| [unit.humanize, unit] }, { include_blank: "Select Quantity Unit" }, class: "form-select" %>
                </div>

                <div class="mb-3 col-lg-6">
                  <%= form.label :sex, class: "form-label" %>
                  <%= form.select :sex, Product.sexes.keys.map { |sex| [sex.humanize, sex] }, { include_blank: "Select Sex" }, class: "form-select" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :age, class: "form-label" %>
                  <%= form.number_field :age, class: "form-control", step: "0.1" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :price, class: "form-label" %>
                  <div class="input-group">
                    <%= form.number_field :price, class: "form-control" %>
                    <span class="input-group-text">PKR</span>
                  </div>
                </div>

                <div class="mb-3 col-lg-6">
                  <%= form.label :breed, class: "form-label" %>
                  <%= form.text_field :breed, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :height, class: "form-label" %>
                   <div class="input-group">
                    <%= form.text_field :height, class: "form-control" %>
                    <span class="input-group-text">cm</span>
                  </div>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :weight, class: "form-label" %>
                  <div class="input-group">
                    <%= form.text_field :weight, class: "form-control" %>
                    <span class="input-group-text">kg</span>
                  </div>
                </div>
                <div class="mb-3 col-lg-6">
                  <%= form.label :teeth, class: "form-label" %>
                  <%= form.number_field :teeth, class: "form-control" %>
                </div>
                <div class="mb-3 col-lg-6">
                  <div class="form-check mt-4">
                    <%= form.check_box :castrated, class: "form-check-input" %>
                    <%= form.label :castrated, class: "form-check-label" %>
                  </div>
                </div>

                <!-- Dairy animal fields - hidden by default -->
                <div id="dairy_fields" class="row" data-dairy-fields-target="dairyFields" style="display: none;">
                  <div class="mb-3 col-lg-6">
                    <%= form.label :pregnant, "Pregnant", class: "form-label" %>
                    <%= form.select :pregnant, [["Yes", true], ["No", false]], { include_blank: "Select" }, { class: "form-select" } %>
                  </div>
                  <div class="mb-3 col-lg-6">
                    <%= form.label :daily_milk_quantity, "Daily Milk Quantity (liters)", class: "form-label" %>
                    <%= form.number_field :daily_milk_quantity, step: 0.1, class: "form-control" %>
                  </div>
                </div>

                <div class="mb-3">
                  <h4 class="mb-3 h5">Location</h4>
                </div>
                <div data-controller='geolocation'>
                  <button data-action="geolocation#search", class="btn btn-primary mb-2">Get Current Location</button>
                  <div class="mb-3 col-lg-6">
                    <%= form.label :city, class: "form-label" %>
                    <%= form.text_field :city, class: "form-control", "data-geolocation-target": "city" %>
                  </div>

                  <div class="mb-3 col-lg-6">
                    <%= form.label :state, class: "form-label" %>
                    <%= form.text_field :state, class: "form-control", "data-geolocation-target": "state" %>
                  </div>

                  <div class="mb-3 col-lg-6">
                    <%= form.label :country, class: "form-label" %>
                    <%= form.text_field :country, class: "form-control", "data-geolocation-target": "country" %>
                  </div>
                  <div class="mb-3 col-lg-12">
                    <%= form.label :address, class: "form-label" %>
                    <%= form.text_area :address, class: "form-control", "data-geolocation-target": "address" %>
                  </div>
                </div>
                <div id="dash_prime_image_preview" class="image-preview-container"></div>
                <div class="mb-3 col-lg-12">
                  <%= form.label :primary_image, class: "form-label", required: true %>
                  <%= form.file_field :primary_image, class: "form-control image-preview-input", data: { preview_target: '#dash_prime_image_preview' } %>
                </div>

              </div>

              <div class="mb-3 col-lg-12 mt-5">
                <!-- heading -->
                <h4 class="mb-3 h5">Product Images</h4>
                  <div id="dash_product_images_preview" class="image-preview-container"></div>

                  <div class="mb-6 col-lg-12">
                    <%= form.label :images, class: "form-label" %>
                    <%= form.file_field :images, multiple: true, class: "form-control image-preview-input", data: { preview_target: '#dash_product_images_preview' } %>
                  </div>
                </div>
              
              <div class="mb-12 col-lg-12">
                <%= form.label :short_description, class: "form-label" %>
                <%= form.text_field :short_description, class: "form-control" %>
              </div>

              <div class="mb-12 col-lg-12">
                <%= form.label :long_description, class: "form-label" %>
                <%= form.text_area :long_description, class: "form-control" %>
              </div>

              <div class="mb-3 d-flex justify-content-between align-items-center">
                <%= form.submit class: "btn btn-primary" %>
                <%= link_to "Back to ads", products_path, class: "btn btn-light" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
