<div class="container">
  <%= render partial: "/dashboard/shared/breadcrum" %>
  <!-- row -->
  <div class="row">
    <div class="col-xl-12 col-12 mb-5">
      <!-- card -->
      <div class="card h-100 card-lg">
        <div class="px-6 py-6">
          <div class="row justify-content-between">
            <!-- form -->
            <div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
              <form class="d-flex" role="search">
                <input class="form-control" name="search" type="search" placeholder="Search Ads" aria-label="Search" value="<%= params[:search] %>" />
              </form>
            </div>
          </div>
        </div>
        <!-- card body -->
        <div class="card-body p-0">
          <!-- table -->
          <div class="table-responsive">
            <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
              <thead class="bg-light">
              <tr>
                <th>Ad Name</th>
                <th>Category</th>
                <th>Status</th>
                <th>Price</th>
                <th>Views</th>
                <th>Hight</th>
                <th>Weight</th>
                <th>Breed</th>
                <th>Verified</th>
                <th>Quantity</th>
                <th>Image</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td><a href="#" class="text-reset"><%= product.name %></a></td>
                  <td><%= product.category.name %></td>

                  <td>
                    <span class="badge <%= product.status == 'pending' ? 'bg-warning' : product.status == 'approved' ? 'bg-success' : 'bg-danger' %> text-light-primary"><%= product.status.titleize %></span>
                  </td>
                  <td><%= product.price %></td>
                  <td><%= product.view_count %></td>
                  <td><%= product.height %></td>
                  <td><%= product.weight %></td>
                  <td><%= product.breed %></td>
                  <td><%= product.verified %></td>
                  <td><%= product.quantity %></td>
                  <td>
                    <a href="#!">
                      <%= image_tag url_for(product.watermarked_primary_image), alt: product.short_description, class: 'icon-shape icon-md' if product.images.attached? %>
                    </a>
                  </td>
                  <td class="d-flex gap-2 justify-content-end">
                    <% if product.draft? || product.pending? %>
                      <%= link_to edit_dashboard_product_path(product),class: "btn btn-primary" do %>
                        Edit
                      <% end %>
                      <%= form_with url: dashboard_product_path(product), method: :delete, data: { confirm: "Are you sure?" } do %>
                        <%= submit_tag "Delete", class: "btn btn-danger" %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>
