<%= form_with(model: [:admin, social_media_link], local: true) do |form| %>
  <% if social_media_link.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(social_media_link.errors.count, "error") %> prohibited this social media link from being saved:</h4>
      <ul>
        <% social_media_link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <%= form.label :platform, class: "form-label" %>
        <%= form.text_field :platform, class: "form-control", placeholder: "e.g., Facebook, Instagram, Twitter" %>
        <div class="form-text">Enter the name of the social media platform</div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="mb-3">
        <%= form.label :icon_class, class: "form-label" %>
        <%= form.select :icon_class, 
            options_for_select([
              ['Facebook', 'facebook'],
              ['Instagram', 'instagram'],
              ['TikTok', 'tiktok'],
              ['Twitter', 'twitter'],
              ['YouTube', 'youtube'],
              ['LinkedIn', 'linkedin']
            ], social_media_link.icon_class), 
            { prompt: "Select an icon" }, 
            { class: "form-select" } %>
        <div class="form-text">Choose the appropriate icon for this platform</div>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= form.label :url, class: "form-label" %>
    <%= form.url_field :url, class: "form-control", placeholder: "https://www.facebook.com/yourpage" %>
    <div class="form-text">Enter the full URL to your social media profile/page</div>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <%= form.check_box :active, class: "form-check-input" %>
      <%= form.label :active, "Active", class: "form-check-label" %>
      <div class="form-text">Check this to make this social media link visible in the footer</div>
    </div>
  </div>

  <div class="d-flex gap-2">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", admin_social_media_links_path, class: "btn btn-secondary" %>
  </div>
<% end %> 