<!-- main -->
<div class="container">
  <%= render partial: "/admin/shared/breadcrum" %>
  <!-- row -->
  <div class="row">
    <div class="col-xl-12 col-12 mb-5">
      <!-- card -->
      <div class="card h-100 card-lg">
        <div class="px-6 py-6">
          <div class="row justify-content-between">
            <!-- form -->
            <div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
<!--              <form class="d-flex" role="search">-->
<!--                <input class="form-control" type="search" placeholder="Search categories" aria-label="Search" />-->
<!--              </form>-->
            </div>
            <!-- select option -->
            <div class="col-lg-2 col-md-4 col-12">
              <select class="form-select">
                <option selected>Status</option>
                <option value="1">Active</option>
                <option value="2">Deactive</option>
                <option value="3">Draft</option>
              </select>
            </div>
          </div>
        </div>
        <!-- card body -->
        <div class="card-body p-0">
          <!-- table -->
          <div class="table-responsive">
            <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
              <thead class="bg-light">
              <tr>
                <th>Category Name</th>
                <th>Description</th>
                <th>Create at</th>
                <th>Images</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <% @categories.each do |category| %>
                <tr>
                  <td><a href="#" class="text-reset"><%= category.name %></a></td>
                  <td><%= truncate(category.description, length: 15) %></td>
                  <td><%= category.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                  <td>
                    <%= image_tag url_for(category.watermarked_image), alt: category.name, class: "icon-shape icon-md" if category.image.attached? %>
                  </td>
                  <td>
                    <%= link_to edit_admin_category_path(category),class: "btn btn-primary" do %>
                      Edit
                    <% end %>
                    <%= link_to admin_category_path(category), class: "btn btn-primary" do %>
                      Show
                    <% end %>
                    <%= form_with url: admin_category_path(category), method: :delete, data: { confirm: "Are you sure?" } do %>
                      <%= submit_tag "Delete", class: "btn btn-danger" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <%= paginate @categories %>
      </div>
    </div>
  </div>
</div>
