<!-- main -->
<div class="container">
  <%= render partial: "/admin/shared/breadcrum" %>
  <!-- row -->
  <div class="row">
    <div class="col-xl-12 col-12 mb-5">
      <!-- card -->
      <div class="card h-100 card-lg">
        <div class="px-6 py-6">
          <div class="row justify-content-between">
            <!-- form -->
            <div class="col-lg-4 col-md-6 col-12 mb-2 mb-lg-0">
              <form class="d-flex" role="search">
                <input class="form-control" type="search" name="search" placeholder="Search Ads" aria-label="Search" value="<%= params[:search] %>" />
              </form>
            </div>
            <!-- select option -->
            <div class="col-lg-2 col-md-4 col-12">
              <%= select_tag :status, options_for_select([['All Status', ''], ['Approved', 'approved'], ['Rejected', 'rejected'], ['Draft', 'draft']], params[:status]), class: 'form-select', data: { controller: 'status-filter' } %>
            </div>
          </div>
        </div>
        <!-- card body -->
        <div class="card-body p-0">
          <!-- table -->
          <div class="table-responsive">
            <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
              <thead class="bg-light">
              <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Status</th>
                <th>Price</th>
                <th>Image</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
                <% @products.each do |product| %>
                <tr>
                  <td><a href="#" class="text-reset"><%= product.name %></a></td>
                  <td><%= product.category.name %></td>
                  <td>
                    <span class="badge <%= product.status == 'approved' ? 'bg-success' : product.status == 'rejected' ? 'bg-danger' : product.status == 'draft' ? 'bg-info' : 'bg-warning' %> text-light-primary"><%= product.status.titleize %></span>
                  </td>
                  <td><%= product.price %></td>
                  <td>
                    <a href="#!">
                      <%= image_tag url_for(product.watermarked_primary_image), alt: product.short_description, class: 'icon-shape icon-md' if product.primary_image.attached? %>
                    </a>
                  </td>
                  <td class="d-flex gap-2">
                    <%= link_to edit_admin_product_path(product),class: "btn btn-primary" do %>
                      Edit
                    <% end %>
                    <%= link_to admin_product_path(product), class: "btn btn-primary" do %>
                      Show
                    <% end %>
                    <%= form_with url: admin_product_path(product), method: :delete, data: { turbo_confirm: "Are you sure?" } do %>
                      <%= submit_tag "Delete", class: "btn btn-danger" %>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>
