<div class="container">
  <%= render partial: "/admin/shared/breadcrum" %>
  <!-- row -->
  <div class="row">
    <div class="col-xl-12 col-12 mb-5">
      <!-- card -->
      <div class="card h-100 card-lg">
        <!-- card body -->
        <% unless @blogs.present? %>
          <p class="text-center">No blogs found</p>
        <% else %>
        
          <div class="card-body p-0">
            <!-- table -->
            <div class="table-responsive">
                <table class="table table-centered table-hover text-nowrap table-borderless mb-0 table-with-checkbox">
                  <thead class="bg-light">
                    <tr>
                      <th>Cover Image</th>
                      <th>Banner Image</th>
                      <th>Title</th>
                      <th>Status</th>
                      <th>Published At</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @blogs.each do |blog| %>
                      <tr>
                        <td>
                          <%= image_tag url_for(blog.cover_image), alt: blog.title, class: "icon-shape icon-md" if blog.cover_image.attached? %>
                        </td>
                         <td>
                          <%= image_tag url_for(blog.banner_image), alt: blog.title, class: "icon-shape icon-md" if blog.banner_image.attached? %>
                        </td>
                        <td><a href="#" class="text-reset"><%= blog.title %></a></td>
                        <td><span class="badge <%= blog.status == 'approved' || blog.status == 'published' ? 'bg-success' : blog.status == 'rejected' ? 'bg-danger' : 'bg-warning' %> text-light-primary"><%= blog.status.titleize %></span></td>
                        <td><%= blog.published_at.present? ? blog.published_at.strftime("%Y-%m-%d %H:%M:%S") : 'N/A' %></td>
                        <td>
                          <%= link_to edit_admin_blog_path(blog), class: "btn btn-primary" do %>
                            Edit
                          <% end %>
                          <%= link_to admin_blog_path(blog), class: "btn btn-primary" do %>
                            Show
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
          </div>

          <%= paginate @blogs %>
        <% end %>
      </div>
    </div>
  </div>
</div>
