<div class="row mb-8">
  <div class="col-md-12">
    <!-- page header -->
    <div class="d-md-flex justify-content-between align-items-center">
      <div>
        <h2 class="text-capitalize active-menu"><%= controller_name.classify %></h2>
        <!-- breacrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="<%= dashboard_path %>" class="text-inherit">Dashboard</a></li>
            <% unless action_name == "index" %>
              <li class="breadcrumb-item">
                <a href="<%= dashboard_products_path %>" class="text-inherit"><%= controller_name.classify %></a></li>
              <li class="breadcrumb-item active" aria-current="page"><%= "#{action_name.classify} #{controller_name.classify}" %></li>
            <% else %>
              <li class="breadcrumb-item active" aria-current="page"><%= "#{controller_name.classify}" %></li>
            <% end %>
          </ol>
        </nav>
      </div>
      <!-- button -->
      <div>
        <% if action_name == "index" %>
          <a href="<%= send("new_dashboard_#{controller_name.classify.underscore}_path") %>" class="btn btn-primary">Add <%= controller_name.classify %></a>
        <% end %>       </div>
    </div>
  </div>
</div>