<div class="row mb-8">
  <div class="col-md-12">
    <!-- page header -->
    <div class="d-md-flex justify-content-between align-items-center">
      <% class_name = controller_name.classify.downcase == "product" ? "Ads" : controller_name.classify  %>
      <div>
        <h2 class="text-capitalize active-menu"><%= if class_name == "PaidAd" then "Paid Ads Requests" else class_name end %></h2>
        <!-- breacrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="<%= admin_path %>" data-turbo="false" class="text-inherit">Dashboard</a></li>
            <% unless action_name == "index" %>
              <li class="breadcrumb-item">
                <a href="<%= dynamic_breadcrum_path %>" class="text-inherit"><%= class_name %></a></li>
              <li class="breadcrumb-item active" aria-current="page"><%= "#{action_name.classify} #{class_name}" %></li>
            <% else %>
              <li class="breadcrumb-item active" aria-current="page"><%= "#{class_name}" %></li>
            <% end %>
          </ol>
        </nav>
      </div>
      <!-- button -->
      <div>
        <% if action_name == "index" %>
          <a href="<%= send("new_admin_#{controller_name.singularize}_path") rescue nil %>" class="btn btn-primary">Add <%= class_name %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>