<!-- navigation -->
<header class="py-lg-5 py-4 border-bottom border-bottom-lg-0">
  <div class="container">
    <div class="row w-100 align-items-center gx-3">
      <div class="col-xl-7 col-lg-8">
        <div class="d-flex align-items-center">
          <a class="navbar-brand d-none d-lg-block" href="<%= root_path %>">
            <img src="/assets/logo-large.png" alt="eCommerce HTML Template" />
          </a>
          <div class="w-100 ms-4 d-none d-lg-block">
          <%= form_with url: products_path, method: :get, data: { turbo_frame: 'project_listings' } do |form| %>
            <div class="input-group">
              <%= form.search_field :q, class: 'form-control rounded', placeholder: "Search for Ads", value: params[:q]%>
              <span class="input-group-append">
                                 <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="16"
                                      height="16"
                                      viewBox="0 0 24 24"
                                      fill="none"
                                      stroke="currentColor"
                                      stroke-width="2"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      class="feather feather-search">
                                       <circle cx="11" cy="11" r="8"></circle>
                                       <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                 </button>
                              </span>
            </div>
          <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center w-100 d-lg-none">
          <a class="navbar-brand mb-0" href="../index.html">
            <img src="/assets/logo-large.png" alt="eCommerce HTML Template" />
          </a>

          <div class="d-flex align-items-center lh-1">
            <div class="list-inline me-4">
              <div class="list-inline-item">
                <!-- Button trigger modal -->
                <a href="#" class="text-reset d-none d-md-block" data-bs-toggle="modal" data-bs-target="#locationSecondModal">
                  <i class="feather-icon icon-map-pin me-2"></i>
                  Set A Location
                </a>
              </div>
            </div>
            <!-- Button -->
            <button
              class="navbar-toggler collapsed"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#navbar-default"
              aria-controls="navbar-default"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-text-indent-left text-primary" viewBox="0 0 16 16">
                <path
                  d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="col-xl-5 col-lg-4 d-flex align-items-center">
        <div class="list-inline ms-auto d-lg-block d-none">
          <div class="list-inline-item me-3">
            <!-- Button trigger modal -->
            <a href="#" class="text-reset d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#locationSecondModal">
              <i class="feather-icon icon-map-pin me-2"></i>
              Set A Location
            </a>
          </div>

          <%
=begin%>
 <div class="list-inline-item me-3">
            <a href="#" class="text-reset" data-bs-toggle="modal" data-bs-target="#registerModal">Register</a>
          </div>
<%
=end%>

          <div class="list-inline-item">
            <% if current_user %>
              <div class='d-flex'>
                <%= link_to "Create Ad", new_dashboard_product_path, class: 'btn btn-primary d-none me-2 d-xl-block' %>
                <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-light d-none d-xl-block' %>
              </div>
            <% else %>
            <div class='d-flex'>
              <%= link_to "Sign In", new_user_session_path ,class: 'btn btn-primary d-none d-xl-block me-2' %>
              <%= link_to "Sign Up", new_user_registration_path ,class: 'btn btn-dark d-none d-xl-block' %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
