<nav class="navbar navbar-expand-lg navbar-light navbar-default py-0 py-lg-2 border-top navbar-offcanvas-color" aria-label="Offcanvas navbar large">
  <div class="container">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="navbar-default" aria-labelledby="navbar-defaultLabel">
      <div class="offcanvas-header pb-1">
        <a href="<%= root_path %>"><img src="/assets/logo-large.png" alt="eCommerce HTML Template"/></a>


        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class=" offcanvas-header mt-2">
        <% if current_user %>
          <div class="d-flex">
            <%= link_to "Create Ad", new_dashboard_product_path, data: { turbo: "false" }, class: 'btn btn-primary me-2 btn-sm d-flex align-items-center justify-content-center' %>
            <% if true || current_user.admin? %>
              <%= link_to "Admin Dashboard", admin_path, data: { turbo: "false" }, class: 'btn btn-primary me-2 btn-sm d-flex align-items-center justify-content-center' %>
            <% end %>
            <%= link_to "Sign Out", destroy_user_session_path, class: 'btn btn-light d-xl-block d-flex align-items-center justify-content-center', data: { turbo_method: :delete } %>
          </div>
        <% else %>
          <div class='d-flex'>
            <%= link_to "Sign In", new_user_session_path ,class: 'btn btn-primary btn-sm me-2' %>
            <%= link_to "Sign Up", new_user_registration_path ,class: 'btn btn-dark btn-sm me-2' %>
          </div>
        <% end %>
      </div>
      <div class="offcanvas-body">
        <div class="d-block d-lg-none mb-4">
          <form action="#">
            <div class="input-group">
              <input class="form-control rounded" type="search" placeholder="Search for ads"/>
              <span class="input-group-append">
                              <button class="btn bg-white border border-start-0 ms-n10 rounded-0 rounded-end" type="button">
                                 <svg
                                   xmlns="http://www.w3.org/2000/svg"
                                   width="16"
                                   height="16"
                                   viewBox="0 0 24 24"
                                   fill="none"
                                   stroke="currentColor"
                                   stroke-width="2"
                                   stroke-linecap="round"
                                   stroke-linejoin="round"
                                   class="feather feather-search">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                 </svg>
                              </button>
                           </span>
            </div>
          </form>
        </div>

        <div>
          <ul class="navbar-nav align-items-center">
            <li class="dropdown me-3 d-none d-lg-block">
              <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-text-left text-white me-2" viewBox="0 0 16 16">
                  <path
                    fill-rule="evenodd"
                    d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
                </svg>
                All Categories
              </button>

              <ul class="dropdown-menu dropdown-menu-lg">
                <% Category.parent_categories.each do |category| %>
                  <li class="dropdown-menu-list">
                    <a href="<%= products_path(category_id: category.id) %>" class="dropdown-item d-flex justify-content-between mb-1 py-1">
                      <div>
                        <% if category.image.attached? %>
                          <%= image_tag category.image, class: "rounded-circle", style: "width: 24px; height: 24px; object-fit: cover;" %>
                        <% else %>
                          <div class="rounded-circle bg-light d-flex align-items-center justify-content-center" style="width: 24px; height: 24px;">
                            <span class="small text-muted"><%= category.name&.first&.upcase %></span>
                          </div>
                        <% end %>

                        <span class="ms-1"><%= category.name&.humanize %></span>
                      </div>
                      <% if category.sub_categories.present? %>
                        <div>
                          <i class="feather-icon icon-chevron-right"></i>
                        </div>
                      <% end %>
                    </a>
                    <% if category.sub_categories.present? %>
                      <div class="dropdown-menu-list-submenu">
                        <div>
                          <ul class="list-unstyled">
                            <% category.sub_categories.each do |sub_category| %>
                              <li>
                                <a href="<%= products_path(category_id: sub_category.id) %>" class="dropdown-item"><%= sub_category.name&.humanize %></a>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= active_class('home') %>" href="<%= root_path %>" role="button" aria-expanded="false">Home</a>
            </li>
            <li class="nav-item ">
              <%= link_to "All Ads", products_path, class: "nav-link #{active_class('products')}", role: 'button', 'aria-expanded': 'false' %>
            </li>
            <li class="nav-item ">
              <%= link_to "Services", services_path, class: "nav-link #{active_class('services')}", role: 'button', 'aria-expanded': 'false' %>
            </li>
            <li class="nav-item ">
              <%= link_to "Blogs", blogs_path, class: "nav-link #{active_class('blogs')}", role: 'button', 'aria-expanded': 'false' %>
            </li>
            <li class="nav-item ">
              <a class="nav-link <%= active_class('contacts') %> " href="<%= contacts_path %>" role="button" aria-expanded="false">Contact
                Us</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link <%= active_class('abouts') %>" href="<%= abouts_path %>" role="button" aria-expanded="false">About
                Us</a>
            </li>
            <% if current_user.present? %>
              <li class="nav-item ">
                <%= link_to "Chat", chats_path, class: "nav-link #{active_class('chat')}", role: 'button', 'aria-expanded': 'false' %>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= active_class('dashboard') %>" data-turbo="false" href ="<%= dashboard_path %>">Dashboard</a>
              </li>

            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>