<!DOCTYPE html>
<html>
<head>
  <title>Livestock</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta content="Codescandy" name="author"/>
  <title>Live Stock</title>
  <%= javascript_include_tag Ckeditor.cdn_url %>
  <link href="<%= asset_path('custom.css') %>" rel="stylesheet" />
  <link href="<%= asset_path('theme.min.css') %>" rel="stylesheet" />
  <link href="<%= asset_path('tiny-slider/dist/tiny-slider.css') %>" rel="stylesheet" />
  <link href="<%= asset_path('slick-carousel/slick/slick.css') %>" rel="stylesheet" />
  <link href="<%= asset_path('slick-carousel/slick/slick-theme.css') %>" rel="stylesheet" />
  <!-- Favicon icon -->
  <link rel="shortcut icon" type="image/x-icon" href="<%= asset_path('theme/favicon/favicon.ico') %>" />

  <!-- Libs CSS -->
  <link href="<%= asset_path('bootstrap-icons/font/bootstrap-icons.min.css') %>" rel="stylesheet" />
  <link href="<%= asset_path('feather-webfont/dist/feather-icons.css') %>" rel="stylesheet" />
  <link href="<%= asset_path('simplebar/dist/simplebar.min.css') %>" rel="stylesheet" />

  <link href="<%= asset_path('nouislider/dist/nouislider.min.css') %>" rel="stylesheet" />

</head>

<body>
  <div>
    <%= render partial: 'layouts/admin/header' %>
    <!-- navbar -->

    <div id="flash_messages">
      <%= render 'layouts/dashboard/flash_messages' %>
    </div>

    <div class="main-wrapper">
      <!-- navbar vertical -->
      <!-- navbar -->

      <%= render partial: 'layouts/admin/sidebar' %>
      <%= render partial: 'layouts/admin/mobile_nav_bar' %>
      <main class="main-content-wrapper mt-3">
          
        <%= yield %>
      </main>

    </div>
  </div>
</body>

<!-- Javascript-->
<!-- Libs JS -->
<!-- <script src="assets/jquery/dist/jquery.min.js"></script> -->
<script src="<%= asset_path('rater-js/index.js') %>"></script>
<script src="<%= asset_path('bootstrap/dist/js/bootstrap.bundle.min.js') %>"></script>
<script src="<%= asset_path('simplebar/dist/simplebar.min.js') %>"></script>

<!-- Theme JS -->
<script src="<%= asset_path('theme.min.js') %>"></script>

<script src="<%= asset_path('vendors/jquery.min.js') %>"></script>
<script src="<%= asset_path('slick-carousel/slick/slick.min.js') %>"></script>
<script src="<%= asset_path('vendors/slick-slider.js') %>"></script>
<script src="<%= asset_path('tiny-slider/dist/min/tiny-slider.js') %>"></script>
<script src="<%= asset_path('vendors/tns-slider.js') %>"></script>

<script src="<%= asset_path('vendors/validation.js') %>"></script>
<script src="<%= asset_path('rater-js/index.js') %>"></script>

<script src="<%= asset_path('nouislider/dist/nouislider.min.js') %>"></script>
<script src="<%= asset_path('wnumb/wNumb.min.js') %>"></script>
</html>
